@font-face {
    font-family: Title;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/FONTS/Demonized.ttf");


}

@font-face {
    font-family: Meutas;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/FONTS/Meutas-ExtraBold.otf");


}

@font-face {
    font-family: Benzin;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/FONTS/benzin-extrabold.ttf");


}

.Background2 {
    max-width: 1180px;
    margin: auto;
    background: #f9f8f8;

    height: auto;
}

.Background {
    background: #ededed;
}

.flex-bigcontainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 1180px;

}

.blackheader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 1180px;
    height: 68px;
    background-color: black;


}

.greyheader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 1180px;
    height: 61px;
    background-color: #14171a;

}

.whitebox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1180px;
    height: 99px;
    background-color: #ffffff;
    justify-content: space-around;
    text-align: center;

}


.whitebox>p {
    margin: auto;

}

.img1 {
    margin-left: 20px;

}

.img2 {
    margin-right: 20px;
    margin-top: 20px;
}

.greybox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1180px;
    height: 99px;
    background-color: #e6e6e6;
    justify-content: space-around;
    text-align: center;
}

.greybox>p {
    margin: auto;
}

.seriespics {
    width: 80px;
    opacity: 30%;

}

.seriespics:hover {
    opacity: 100%;
    cursor: pointer;
}

.title {
    font-family: title;
    color: white;
    text-align: center;
    margin: auto;
    font-size: larger;
}

#driverpic {
    width: 100px;
    height: 90px
}

#cartype {
    width: 100px;
    height: 50px;

}

.drivernumber