* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-template-areas {
    display: grid;
    /* position: sticky;
    top: 0; */
    grid-template-columns: auto auto auto;
    /* grid-template:
        'nav1 nav2 nav3' auto */
    /* gap: 1000px; */


}


nav {
    height: 90px;
    background: #000000;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0rem calc ((100vw - 1300px) /2);
}

.rightbuttons {
    height: 90px;
    background: #000000;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0rem calc ((100vw - 1300px) /2);
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 1.5rem;
}

nav a:hover {
    color: rgb(255, 0, 0);
}