@font-face {
    font-family: Tisa Sans Pro Regular;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/Tisa\ Sans\ Pro\ Regular.woff");

}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tisa Sans Pro Regular;

}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Background2 {
    max-width: 1180px;
    margin: auto;
    background: #f9f8f8;
    padding: 10px;
    height: 1500px;
}

.Background {
    background: #ededed;
}

.middlegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 15px;
    width: 1150px;

}


/* old grid code down here */

/* display: grid;
    grid-template-columns: 180px auto 280px;
    grid-gap: 20px; */


.middlerow {
    height: 600px;
    grid-row: span 2;
    width: 600px;
}

.leftrow {
    height: 500px;
    grid-row: span 2;
    width: 180px;
}

.rightrow {
    height: 430px;
    grid-row: span 2;
    width: 345px;
}

.timerbox {
    height: 180px;
    grid-row: span 2;
    width: 345px;
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 0, 0);
}

.centerpictimer {
    padding: 0 3.1rem;
}

hr {
    width: 0%;
    margin: 0 auto;
}

hr.half-width {
    width: 100%;
    margin: 0 auto;
    float: left;
}

hr.counter-width {
    width: 80%;
    margin: 0 auto;


}


/* Thick Black border */
hr.new4 {
    border: 1px solid rgb(0, 0, 0);
}

.Timer {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}


.timetext {
    text-align: center;
    font-size: 25px;
    margin-top: -40px;
    color: rgb(255, 0, 0)
}

.seriesbutton {
    border-style: none;
    background: rgb(255, 255, 255);
    border: none;
}

.seriesbutton:hover {
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}