@font-face {
    font-family: Tisa Sans Pro Regular;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/Tisa\ Sans\ Pro\ Regular.woff");


}

@font-face {
    font-family: timer;
    font-style: normal;
    font-weight: normal;
    src: url("/Assets/FONTS/digital7\ \(mono\).ttf");


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tisa Sans Pro Regular;

}


.Background2 {
    max-width: 1180px;
    margin: auto;
    background: #f9f8f8;
    padding: 10px;
    height: auto;
}

.Background {
    background: #ededed;
}

.flex-bigcontainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    height: 2000px;
    width: 1160px;

}

.leftlane {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* background-color: rgb(255, 30, 30); */
}

/* .item1 { */
/* background-color: #f1f1f1; */
/* width: 100px; */
/* height: 100px; */
/* margin: 10px; */
/* text-align: center; */
/* line-height: 75px; */

/* } */

.middlelane {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}



.rightlane {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    /* background-color: rgb(255, 30, 30); */
}




.Timer {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    font-family: timer;

}


.timetext {
    margin-left: 15px;
    font-size: 25px;
    word-spacing: 20px;
    margin-top: -40px;
    color: rgb(255, 0, 0);


}

.seriesbutton {
    border-style: none;
    background: rgb(255, 255, 255);
    border: none;
}

.seriesbutton:hover {
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.series2button {
    border-style: none;
    background: rgb(255, 255, 255);
    opacity: 30%;
    border: none;
}

.series2button:hover {
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 0, 0);
}

.centerpictimer {
    padding: 0 3.1rem;
}

hr {
    width: 0%;
    margin: 0 auto;
}

hr.half-width {
    width: 100%;
    margin: 0 auto;
    float: left;
}

hr.counter-width {
    width: 80%;
    margin: 0 auto;


}


/* Thick Black border */
hr.new4 {
    border: 1px solid rgb(0, 0, 0);
}